<div class="row">
  <div class="col-xxxl-2 col-md-4">
    <ugo-status-card title="Online Users" type="primary">
      <i class="fa fa-users"></i>
    </ugo-status-card>
  </div>

  <div class="col-xxxl-2 col-md-4">
    <ugo-status-card title="Total Vendors" type="primary">
      <i class="nb-gear"></i>
    </ugo-status-card>
  </div>

  <div class="col-xxxl-2 col-md-4">
    <ugo-status-card title="Daily Earning" type="success">
      <i class="fa fa-money"></i>
    </ugo-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ugo-status-card title="Completed" type="success">
      <i class="fa fa-handshake-o"></i>
    </ugo-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ugo-status-card title="In-progress" type="info">
      <i class="fa fa-spinner"></i>
    </ugo-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ugo-status-card title="Cancelled Requests" type="danger">
      <i class="fa fa-close"></i>
    </ugo-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ugo-status-card title="Unsatisfied" type="warning">
      <i class="fa fa-frown-o"></i>
    </ugo-status-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ugo-echarts-area-stack></ugo-echarts-area-stack>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ugo-echarts-pie></ugo-echarts-pie>
  </div>
</div>